$image1: url('/public/clouds-3353159_1920.jpg');
$image2: url(/public/dawn-190055_1280.jpg);
$image3: url(/public/lightning-1158027_1920.jpg);
$image4: url(/public/man-3915438_1920.jpg);
$image5: url(/public/person-731165_1920.jpg);
$image6: url(/public/sky-690293_1920.jpg);

.homeContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0;
    height: 100%;
    background-image: $image1;
    
}
h1 {
    padding: 50px;
}